<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xjlm.albertbroadcast" >

    <uses-sdk tools:overrideLibrary="au.com.commbank.albert.merchantmenu"/>

    <uses-permission android:name="com.aevi.permission.CONFIGURATION" />
    <uses-permission android:name="com.aevi.permission.PAYMENT_REQUEST" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="com.aevi.permission.SYSTEM_BAR_SLIDE"/>
    <uses-permission android:name="com.aevi.permission.CONFIGURATION"/>
    <uses-permission android:name="com.aevi.permission.LED_SERVICE"/>

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->

    <permission
        android:name="com.xjlm.albertbroadcast.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.xjlm.albertbroadcast.permission.C2D_MESSAGE" />

    <meta-data
        android:name="ip-addresses"
        android:value="0.0.0.0/0" />
    <meta-data
        android:name="application-type"
        android:value="vaa_merchant" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/pop_icon"
        android:label="@string/title_activity_point_of_sale"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".BroadcastActivity"
            android:label="@string/title_broadcast_activity" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".PointOfSaleActivity"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.xjlm.albertbroadcast" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
